.container {
    margin: 100px auto;
    width: 40%;
    border: 3px solid lightblue;
    padding: 10px 10px 35px 10px;
  }

.title {
    text-align: center;
}

button {
    background-color: lightcoral;
    border: solid 2px lightcoral;
    border-radius: 4px;

}

input {
    border: solid 2px lightcoral;
    border-radius: 4px;
}

#input-grafo {
    width: 92%;
    margin-right: 1%;
    margin-left: 1%;
    margin: 1%;
}

#button-grafo {
    width: 20%;
    margin-left: 1%;
}

#origen {
    width: 23%;
    margin-right: 1%;

}

#destino {
    width: 23%;
    margin-right: 1%;

}

#distancia {
    width: 23%;
    margin-right: 1%;

}

#agregar-union {
    width: 23%;

}

#resolve {
    text-align: center;
}

#button-grafo {
    width: 50%;

}

#button-mostrargrafo {
    width: 46%;
    margin-left: 1%;
}

#mynetwork {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 400px;
}

#input-show {
    border: none;
}

